.top {
	margin-top:20px;
	position:relative;
	border:solid rgb(144,144,144);
	border-radius:10px;
	box-shadow:10px 12px 10px black;
	background-color:rgb(144,144,144);
	height:10%;
	width:80%;
	margin-left:10%;
}
#doft {
	height:80%;
	margin-top:10px;;
}
.top_right {
	height:100%;
	float:right;
	position:relative;
}
#close {
	position:relative;
	bottom:15px;
	left:103px;
}
#reload {
	width:5%;
	position:relative;
	bottom:120px;
	left:127px;
}
#loupe {
	position:relative;
	left:130px;
	top:10px;
}

.left {
	background-color:rgb(144,144,144);
	position:relative;
	border:solid rgb(144,144,144);
	box-shadow:10px 12px 10px black;
	border-radius:10px;
	margin-left:12%;
	margin-right:80%;
	margin-top:1%;
}
#arrow {
	margin-left:26px;
	margin-top:10px;
	width:55%;
}
#main {
	margin-left:26px;
	margin-top:10px;
	width:53%;
}
#oeil {
	margin-left:26px;
	width:52%;
	border:5px solid red;
	border-radius:5px;
}
#outil {
	margin-left:26px;
	margin-top:10px;
	width:54%;
}
#chat {
	margin-left:26px;
	margin-bottom:20px;
	width:53%;
}

.center {
	background-color:rgb(144,144,144);
	position:relative;
	border:solid rgb(144,144,144);
	box-shadow:10px 12px 10px black;
	border-radius:10px;
	height:50%;
	width:60%;
	margin-left:22%;
}
#cluster {
	padding:1%;
	height:80%;
}

.right {
	background-color:rgb(144,144,144);
	position:relative;
	border:solid rgb(144,144,144);
	box-shadow:10px 12px 10px black;
	border-radius:10px;
	margin-left:80%;
	margin-right:12%;
	margin-top:1%;
}
#book {
	width:50%;
}
#towel {
	width:50%;
}
#brick{
	width:50%;
	background-repeat:repeat-x;
	background-repeat:repeat-y;
}

.pop_up {
	background-color:rgb(136,255,137);
	position:relative;
	border:solid rgb(136,255,137);
	box-shadow:10px 12px 10px black;
	border-radius:10px;
	margin-left:8%;
	margin-right:60%;
	margin-bottom:10%;
	font-size:15px;
	float:top;
}

body {
	background-color:rgb(80,80,80);
}
